{% extends 'base_admin.html' %}
{% load static %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Районы / Города</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user:index_admin' %}">Главная</a>
                                    </li>
                                    <li class="breadcrumb-item active">Справочник
                                    </li>
                                    <li class="breadcrumb-item active">Районы / Города
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="breadcrum-right">
                        <a href="#addDistrict" data-effect="mfp-zoom-in" class="addDistrictBtn btn btn-primary">Добавить</a>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Data list view starts -->
                <section id="data-thumb-view" class="data-thumb-view-header">
                    <!-- dataTable starts -->
                    <div class="table-responsive">
                        <table class="table data-thumb-view">
                            <thead>
                                <tr>
                                    <th width="1%">№</th>
                                    <th width="300px">Название</th>
                                    <th width="100px">
                                        <div class="dropdown dropdown-table">
                                            <button class="btn p-0 m-0 pr-1 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Область</button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{% url 'district:district_list' %}">Все</a>
                                                {% for region in region_list %}
                                                    <a class="dropdown-item" href="?region={{ region.id }}">{{ region.title.ru}}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </th>
                                    <th width="1%"></th>
                                    <th width="1%"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for district in district_list %}
                                <tr>
                                    <td>{{ district.id }}</td>
                                    <td class="td-name">{{ district.title.ru }}</td>
                                    <td class="td-category">{{ district.region.title.ru }}</td>
                                    <td class="td-action">
                                        <a href="#editDistrict" data-url="/api/v1/admin/district/{{ district.id }}/" class="action-edit" data-effect="mfp-zoom-in"><i class="feather icon-edit"></i> Ред-ть</a>
                                    </td>
                                    <td class="td-action">
                                        <a href="#deleteDistrict" data-url="/api/v1/admin/district/{{ district.id }}/" class="action-delete" data-effect="mfp-zoom-in"><i class="feather icon-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% load paginator %}
                        {% get_pagination %}

                    </div>

                    <!-- dataTable ends -->
                </section>
                <!-- Data list view end -->
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}
    <div id="addDistrict" class="white-popup white-popup__small mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="addDistrictForm">
                <div class="popup-title">
                    <h2>Добавить</h2>
                </div>

                <div class="popup-form">
                    <div class="form-tabs">
                        <ul class="nav nav-pills nav-active-bordered-pill">
                            <li class="nav-item">
                                <a class="nav-link active" id="base-pill11" data-toggle="pill" href="#pill11" aria-expanded="true"><i class="flag-icon flag-icon-ru"></i> Ру</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="base-pill12" data-toggle="pill" href="#pill12" aria-expanded="false"><i class="flag-icon flag-icon-uz"></i> Уз</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="base-pill13" data-toggle="pill" href="#pill13" aria-expanded="false"><i class="flag-icon flag-icon-uz"></i> O'z</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="base-pill14" data-toggle="pill" href="#pill14" aria-expanded="false"><i class="flag-icon flag-icon-us"></i> En</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="base-pill15" data-toggle="pill" href="#pill15" aria-expanded="false"><i class="flag-icon flag-icon-uz"></i> Qr</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="pill11" aria-expanded="true" aria-labelledby="base-pill11">
                                <div class="form-group">
                                    <label for="name_ru">Название (ру):</label>
                                    <input id="name_ru" type="text" class="form-control text" name="name_ru" required>
                                </div>
                            </div>
                            <div class="tab-pane" id="pill12" aria-labelledby="base-pill12">
                                <div class="form-group">
                                    <label for="name_uz">Название (уз):</label>
                                    <input id="name_uz" type="text" class="form-control text" name="name_uz" required>
                                </div>
                            </div>
                            <div class="tab-pane" id="pill13" aria-labelledby="base-pill13">
                                <div class="form-group">
                                    <label for="name_oz">Название (o'z):</label>
                                    <input id="name_oz" type="text" class="form-control text" name="name_oz" required>
                                </div>
                            </div>
                            <div class="tab-pane" id="pill14" aria-labelledby="base-pill14">
                                <div class="form-group">
                                    <label for="name_en">Название (en):</label>
                                    <input id="name_en" type="text" class="form-control text" name="name_en" required>
                                </div>
                            </div>
                            <div class="tab-pane" id="pill15" aria-labelledby="base-pill15">
                                <div class="form-group">
                                    <label for="name_qr">Название (qr):</label>
                                    <input id="name_qr" type="text" class="form-control text" name="name_qr" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="region">Область:</label>
                        <select name="region" class="form-control" id="region" required>
                            <option value="">Выберите</option>
                            {% for region in region_list %}
                                <option value={{ region.id }}>{{ region.title.ru }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <div id="editDistrict" class="white-popup white-popup__small mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="editDistrictForm">
                <div class="popup-title">
                    <h2>Добавить</h2>
                </div>

                <div class="popup-form">
                    <div class="form-tabs">
                        <ul class="nav nav-pills nav-active-bordered-pill">
                            <li class="nav-item">
                                <a class="nav-link active" id="base-pill21" data-toggle="pill" href="#pill21" aria-expanded="true"><i class="flag-icon flag-icon-ru"></i> Ру</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="base-pill12" data-toggle="pill" href="#pill22" aria-expanded="false"><i class="flag-icon flag-icon-uz"></i> Уз</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="base-pill23" data-toggle="pill" href="#pill23" aria-expanded="false"><i class="flag-icon flag-icon-uz"></i> O'z</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="base-pill24" data-toggle="pill" href="#pill24" aria-expanded="false"><i class="flag-icon flag-icon-us"></i> En</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" id="base-pill25" data-toggle="pill" href="#pill25" aria-expanded="false"><i class="flag-icon flag-icon-uz"></i> Qr</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="pill21" aria-expanded="true" aria-labelledby="base-pill21">
                                <div class="form-group">
                                    <label for="name_ruE">Название (ру):</label>
                                    <input id="name_ruE" type="text" class="form-control text" name="name_ruE" required>
                                </div>
                            </div>
                            <div class="tab-pane" id="pill22" aria-labelledby="base-pill22">
                                <div class="form-group">
                                    <label for="name_uzE">Название (уз):</label>
                                    <input id="name_uzE" type="text" class="form-control text" name="name_uzE" required>
                                </div>
                            </div>
                            <div class="tab-pane" id="pill23" aria-labelledby="base-pill23">
                                <div class="form-group">
                                    <label for="name_ozE">Название (o'z):</label>
                                    <input id="name_ozE" type="text" class="form-control text" name="name_ozE" required>
                                </div>
                            </div>
                            <div class="tab-pane" id="pill24" aria-labelledby="base-pill24">
                                <div class="form-group">
                                    <label for="name_enE">Название (en):</label>
                                    <input id="name_enE" type="text" class="form-control text" name="name_enE" required>
                                </div>
                            </div>
                            <div class="tab-pane" id="pill25" aria-labelledby="base-pill25">
                                <div class="form-group">
                                    <label for="name_qrE">Название (qr):</label>
                                    <input id="name_qrE" type="text" class="form-control text" name="name_qrE" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="regionE">Область:</label>
                        <select name="regionE" class="form-control" id="regionE" required>
                            <option value="">Выберите</option>
                            {% for region in region_list %}
                                <option value={{ region.id }}>{{ region.title.ru }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <div id="deleteDistrict" class="white-popup white-popup__small mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="popup-title">
                <h2>Удаление Районы / Города</h2>
            </div>
            <div class="popup-form">
                <p>Вы действительно хотите удалить <br>Районы / Города?</p>
            </div>
            <div class="popup-footer">
                <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                <a href="#" class="btnDeleteDistrict btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        /* Add */
        $('.addDistrictBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        $(document).ready(function () {
            /* Add */
            $("#addDistrictForm").submit(function (e) {
                e.preventDefault();
                $('#addDistrict .loader').addClass('active');

                let formData = new FormData();

                formData.append("title", `{
                                            "ru": "${$("#name_ru").val()}",
                                            "uz": "${$("#name_uz").val()}",
                                            "oz": "${$("#name_oz").val()}",
                                            "en": "${$("#name_en").val()}",
                                            "qr": "${$("#name_qr").val()}"
                                          }`);
                formData.append("region", $("#region").val());
                let url = "/api/v1/admin/district/";

                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        setTimeout(function () {
                            $('#addDistrict .loader').removeClass('active');
                        }, 500);
                        location.reload();
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $('#addDistrict .loader').removeClass('active');
                        }, 500);
                        alert('Ошибка');
                    }
                });
            });
        });

        /* Edit */
        var edit_url = "";
        $('.action-edit').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });
        $('.action-edit').click(function () {
            edit_url = $(this).data('url');

            $('#editDistrict .loader').addClass('active');

            $.getJSON(`${edit_url}`, function (data) {
                console.log(data);
                $("#name_ruE").val(data.title.ru);
                $("#name_uzE").val(data.title.uz);
                $("#name_ozE").val(data.title.oz);
                $("#name_enE").val(data.title.en);
                $("#name_qrE").val(data.title.qr);
                $("#regionE").val(data.region);
            });
            setTimeout(function () {
                $('#editDistrict .loader').removeClass('active');
            }, 1000);
        });

        $(document).ready(function () {
            $("#editDistrictForm").submit(function (e) {
                e.preventDefault();
                $('#editDistrict .loader').addClass('active');

                let formData = new FormData();

                formData.append("region", $("#regionE").val());
                formData.append("title", `{
                                            "ru": "${$("#name_ruE").val()}",
                                            "uz": "${$("#name_uzE").val()}",
                                            "oz": "${$("#name_ozE").val()}",
                                            "en": "${$("#name_enE").val()}",
                                            "qr": "${$("#name_qrE").val()}"
                                          }`);

                let url = edit_url;

                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'PATCH',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        setTimeout(function () {
                            $('#editDistrict .loader').removeClass('active');
                        }, 500);
                        location.reload();
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $('#editDistrict .loader').removeClass('active');
                        }, 500);
                        alert('Ошибка');
                    }
                });
            });
        });

        /* Delete */
        var delete_url = "";
        $('.action-delete').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        $('.action-delete').click(function () {
            delete_url = $(this).data('url');
        });

        $(".btnDeleteDistrict").click(function (event) {
            event.preventDefault();

            let url = delete_url;

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: url,
                method: 'DELETE',
                success: function (data) {
                    //alert('успех!');
                    location.reload();
                },
                error: function (data) {
                    alert('Ошибка');
                }
            });
        });



        $('.btn-close').click(function (event) {
            event.preventDefault();

            $.magnificPopup.close();
        });
    </script>
{% endblock %}
