{% extends 'base_informer.html' %}
{% load mptt_tags %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/js/mgaccordion.css' %}">
{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Меню</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user:index_admin' %}">Главная</a>
                                    </li>
                                    <li class="breadcrumb-item active">Меню
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="breadcrum-right">
                        <a href="{% url 'user:menu_create' %}" class="btn btn-primary">Добавить</a>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Data list view starts -->
                <section id="data-thumb-view" class="data-thumb-view-header">
                    <!-- dataTable starts -->
{#                    <ul>#}
{#                        {% recursetree menu_list %}#}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    {{ node.title.ru }}#}
{#                                </a>#}
{#                                {% if not node.is_leaf_node %}#}
{#                                    <ul class="children">#}
{#                                        <a href="#">{{ children }}</a>#}
{#                                    </ul>#}
{#                                {% endif %}#}
{#                            </li>#}
{#                        {% endrecursetree %}#}
{#                    </ul>#}
                    <!-- dataTable ends -->
                    <nav class="my-menu">
                        <ul class="my-nav">
                            {% recursetree menu_list %}
                                <li>
                                    <a href="#">
                                        {{ node.title.ru }}
                                    </a>
                                    <div class="nav-control">
                                        <a href="{% url 'user:menu_update' id=node.id %}" class="control"><i class="feather icon-edit"></i> Ред-ть</a>
                                        <a href="#" class="control trash"><i class="feather icon-trash"></i></a>
                                    </div>
                                    {% if not node.is_leaf_node %}
                                        <ul>
                                            {{ children }}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endrecursetree %}
                        </ul>
                    </nav>
                </section>
                <!-- Data list view end -->
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}

{% endblock %}


{% block script %}
    <script type="text/javascript" src="{% static 'assets/js/mgaccordion.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.my-nav').mgaccordion();
        });
    </script>
{% endblock %}
