{% extends 'base_admin.html' %}
{% load static %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Сотрудники</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user:index_admin' %}">Главная</a>
                                    </li>
                                    <li class="breadcrumb-item active">Сотрудники
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                {% if request.user.role == 'Admin' %}
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="breadcrum-right">
                        <a href="#addEmployee" data-effect="mfp-zoom-in" class="addEmployeeBtn btn btn-primary">Добавить</a>
                    </div>
                </div>
                {% endif %}
            </div>


            <div class="content-body">
                <!-- Data list view starts -->
                <section id="data-thumb-view" class="data-thumb-view-header">
                    <!-- dataTable starts -->
                    <div class="table-responsive">
                        <table class="table data-thumb-view">
                            <thead>
                                <tr>
                                    <th width="1%">№</th>
                                    <th width="1%">Фото</th>
                                    <th width="300px">Ф.И.О.</th>
                                    <th width="1%">Логин</th>
                                    <th width="100px">Телефон</th>
                                    <th width="100px">Должность</th>
                                    <th width="1%"></th>
                                    <th width="1%">Статус</th>
                                    <th width="1%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in user_list %}
                                <tr>
                                    <td>{{ user.id }}
                                    <td class="td-img">
                                        {% if user.img %}
                                            <img src='{{ user.img.url }}' alt="Img placeholder">
                                        {% else %}
                                            <img src="{% static 'assets/images/avatar.png' %}" alt="Img placeholder">
                                        {% endif %}

                                    </td>
                                    <td class="td-name">
                                        <a href="{%  url 'user:leaders_detail' user.id %}">{{ user.full_name }}</a>
                                    </td>
                                    <td class="td-category">{{ user.username }}</td>
                                    <td class="td-category">{{ user.phone }}</td>
                                    <td class="td-category">{{ user.position }}</td>
                                    {% if request.user.role == 'Admin' %}
                                        <td class="td-action">
                                            <a href="#editEmployee" data-url="/api/v1/crm/user/detail/{{ user.id }}" class="action-edit" data-effect="mfp-zoom-in"><i class="feather icon-edit"></i> Ред-ть</a>
                                        </td>
                                        <td>
                                            <div class="custom-control custom-switch custom-switch-success">
                                                <input type="checkbox"
                                                       data-url="/api/v1/crm/user/detail/{{ user.id }}"
                                                       data-id="{{ user.id }}"
                                                       class="custom-control-input isStatus"
                                                       id="customSwitch{{ user.id }}" {% if user.is_active %} checked {% else %} {% endif %}
                                                >
                                                <label class="custom-control-label" for="customSwitch{{ user.id }}">
                                                    <span class="switch-icon-left"><i class="feather icon-check"></i></span>
                                                    <span class="switch-icon-right"><i class="feather icon-check"></i></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="td-action">
                                            <a href="#deleteEmployee" data-url="/api/v1/crm/user/detail/{{ user.id }}" class="action-delete" data-effect="mfp-zoom-in"><i class="feather icon-trash"></i></a>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- dataTable ends -->
                </section>
                <!-- Data list view end -->
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}
    <div id="addEmployee" class="white-popup white-popup__middle mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="addEmployeeForm">
                <div class="popup-title">
                    <h2>Добавить</h2>
                </div>
                <div class="popup-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="last_name">Фамилия<span class="red"> * </span>:</label>
                                <input id="last_name" type="text" class="form-control text" name="last_name" required>
                            </div>
                            <div class="form-group">
                                <label for="first_name">Имя<span class="red"> * </span>:</label>
                                <input id="first_name" type="text" class="form-control text" name="first_name" required>
                            </div>
                            <div class="form-group">
                                <label for="middle_name">Отчество:</label>
                                <input id="middle_name" type="text" class="form-control text" name="middle_name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-avatar">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"/>
                                        <label for="imageUpload"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview"
                                             style="background-image: url({% static 'assets/images/avatar.png' %});">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="birth_date">Дата рождения:</label>
                                <input id="birth_date" type="date" class="form-control text" name="birth_date">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Э-Почта:</label>
                                <input id="email" type="text" class="form-control text" name="email" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="phone">Телефон:</label>
                                <input id="phone" type="text" class="form-control text" name="phone" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="position">Должность <span class="red"> * </span>:</label>
                                <input id="position" type="text" class="form-control text" name="position">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="username">Логин<span class="red"> * </span>:</label>
                                <input id="username" type="text" class="form-control text" name="username" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="password">Пароль<span class="red"> * </span>:</label>
                                <input id="password" type="password" class="form-control text" name="password"
                                       autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <div id="editEmployee" class="white-popup white-popup__middle mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="editEmployeeForm">
                <div class="popup-title">
                    <h2>Редактировать</h2>
                </div>
                <div class="popup-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="last_nameE">Фамилия<span class="red"> * </span>:</label>
                                <input id="last_nameE" type="text" value="" class="form-control text" name="last_nameE" required>
                            </div>
                            <div class="form-group">
                                <label for="first_nameE">Имя<span class="red"> * </span>:</label>
                                <input id="first_nameE" type="text" value="" class="form-control text" name="first_nameE" required>
                            </div>
                            <div class="form-group">
                                <label for="middle_nameE">Отчество:</label>
                                <input id="middle_nameE" type="text" value="" class="form-control text" name="middle_nameE">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-avatar">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUploadE" accept=".png, .jpg, .jpeg"/>
                                        <label for="imageUploadE"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreviewE"
                                             style="background-image: url({% static 'assets/images/avatar.png' %});">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="birth_dateE">Дата рождения:</label>
                                <input id="birth_dateE" type="date" class="form-control text" name="birth_dateE">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="emailE">Э-Почта:</label>
                                <input id="emailE" type="text" class="form-control text" name="emailE" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="phoneE">Телефон:</label>
                                <input id="phoneE" type="text" class="form-control text" name="phoneE" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="positionE">Должность <span class="red"> * </span>:</label>
                                <input id="positionE" type="text" class="form-control text" name="positionE">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="usernameE">Логин<span class="red"> * </span>:</label>
                                <input id="usernameE" type="text" value="" class="form-control text" name="usernameE" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="passwordE">Пароль:</label>
                                <input id="passwordE" type="password" value="" class="form-control text" name="passwordE"
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <div id="deleteEmployee" class="white-popup white-popup__small mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="popup-title">
                <h2>Удаление пользователя</h2>
            </div>
            <div class="popup-form">
                <p>Вы действительно хотите удалить пользователя ?</p>
            </div>
            <div class="popup-footer">
                <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                <a href="#" class="btnDeleteEmployee btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        $(function (){
            $("#phone").inputmask({
                "mask": "+998 (dd) ddd-dddd"
            });

        });
        /* Add Employee*/
        $('.addEmployeeBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageUpload").change(function () {
            readURL(this);
        });

        $(document).ready(function () {
            /* Add */
            $("#addEmployeeForm").submit(function (e) {
                e.preventDefault();
                $('#addEmployee .loader').addClass('active');

                let formData = new FormData();

                formData.append("last_name", $("#last_name").val());
                formData.append("first_name", $("#first_name").val());
                formData.append("middle_name", $("#middle_name").val());
                formData.append("birth_date", $("#birth_date").val());
                formData.append("email", $("#email").val());
                formData.append("phone", $("#phone").val());
                formData.append("position", $("#position").val());
                formData.append("username", $("#username").val());
                formData.append("password", $("#password").val());
                formData.append("role", "Employee");

                for (let i = 0; i < $("#imageUpload")[0].files.length; i++) {
                    formData.append('img', $("#imageUpload")[0].files[i]);
                }

                let url = "/api/v1/crm/user/create/";


                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        setTimeout(function () {
                            $('#addEmployee .loader').removeClass('active');
                        }, 500);
                        location.reload();
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $('#addEmployee .loader').removeClass('active');
                        }, 500);
                        alert('Ошибка');
                    }
                });

            });
        });

        /* Edit */
        var user_edit_url = "";
        $('.action-edit').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        function readURLE(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreviewE').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreviewE').hide();
                    $('#imagePreviewE').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageUploadE").change(function () {
            readURLE(this);
        });

        $('.action-edit').click(function () {
            console.log($(this).data('url'))
            user_edit_url = $(this).data('url');
            console.log(user_edit_url)
            $('#editEmployee .loader').addClass('active');

            $.getJSON(`${user_edit_url}`, function (data) {
                console.log(data);
                $("#last_nameE").val(data.last_name);
                $("#first_nameE").val(data.first_name);
                $("#middle_nameE").val(data.middle_name);
                $("#birth_dateE").val(data.birth_date);
                $("#emailE").val(data.email);
                $("#phoneE").val(data.phone);
                $("#positionE").val(data.position);
                $("#usernameE").val(data.username);
                if (data.img) {
                    $('#imagePreviewE').css('background-image', 'url(' + data.img + ')');
                } else {
                    $('#imagePreviewE').css('background-image', 'url({% static "assets/images/avatar.png" %}');
                }
            });
            setTimeout(function () {
                $('#editEmployee .loader').removeClass('active');
            }, 1000);
        });

        $(document).ready(function () {
            $("#editEmployeeForm").submit(function (e) {
                e.preventDefault();
                $('#editEmployee .loader').addClass('active');

                let formData = new FormData();

                formData.append("last_name", $("#last_nameE").val());
                formData.append("first_name", $("#first_nameE").val());
                formData.append("middle_name", $("#middle_nameE").val());
                formData.append("birth_date", $("#birth_dateE").val());
                formData.append("email", $("#emailE").val());
                formData.append("phone", $("#phoneE").val());
                formData.append("position", $("#positionE").val());
                formData.append("username", $("#usernameE").val());
                formData.append("role", "Employee");
                if ($("#passwordE").val()){
                    formData.append("password", $("#passwordE").val());
                }

                for (let i = 0; i < $("#imageUploadE")[0].files.length; i++) {
                    formData.append('img', $("#imageUploadE")[0].files[i]);
                }

                let url = user_edit_url;

                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'PATCH',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        setTimeout(function () {
                            $('#editEmployee .loader').removeClass('active');
                        }, 500);
                        location.reload();
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $('#editEmployee .loader').removeClass('active');
                        }, 500);
                        alert('Ошибка');
                    }
                });
            });
        });


        /* Delete */
        var user_delete_url = "";
        $('.action-delete').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        $('.action-delete').click(function () {
            user_delete_url = $(this).data('url');
        });

        $(".btnDeleteEmployee").click(function (event) {
            event.preventDefault();

            let url = user_delete_url;

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: url,
                method: 'DELETE',
                success: function (data) {
                    //alert('успех!');
                    location.reload();
                },
                error: function (data) {
                    alert('Ошибка');
                }
            });
        });

        $(".isStatus").on('click', function (event) {
            event.preventDefault();

            let formData = new FormData();
            formData.append("is_active", $(this).is(':checked'));


            let url = $(this).data('url');
            let id = $(this).data('id');

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: url,
                processData: false,
                contentType: false,
                method: 'PATCH',
                data: formData,
                success: function (data) {
                    document.getElementById(`customSwitch${id}`).checked = data.is_active;
                },
                error: function (data) {

                }
            });
        });


        $('.btn-close').click(function (event) {
            event.preventDefault();

            $.magnificPopup.close();
        });
    </script>
{% endblock %}
