{% extends 'base_leader.html' %}
{% load static %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Сотрудники</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user:leader_index' %}">Главная</a>
                                    </li>
                                    <li class="breadcrumb-item active">Сотрудники
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="breadcrum-right">
                        <a href="#addEmployee" data-effect="mfp-zoom-in" class="addEmployeeBtn btn btn-primary">Добавить</a>
                    </div>
                </div>
            </div>


            <div class="content-body">
                <!-- Data list view starts -->
                <section id="data-thumb-view" class="data-thumb-view-header">
                    <!-- dataTable starts -->
                    <div class="table-responsive">
                        <table class="table data-thumb-view">
                            <thead>
                                <tr>
                                    <th width="1%">№</th>
                                    <th width="1%">Фото</th>
                                    <th width="300px">Ф.И.О.</th>
                                    <th width="1%">Дата</th>
                                    <th width="100px">Телефон</th>
                                    <th width="1%">Должность</th>
                                    <th width="1%"></th>
                                    <th width="1%">Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for action in actions %}
                                <tr>
                                    <td>{{ action.id }}</td>
                                    <td class="td-img">
                                        {% if user.img %}
                                            <img src='{{ user.img.url }}' alt="Img placeholder">
                                        {% else %}
                                            <img src="{% static 'assets/images/avatar.png' %}" alt="Img placeholder">
                                        {% endif %}
                                    </td>
                                    <td class="td-name">
                                        <a href="{%  url 'user:leader_employee_detail' user.id %}">{{ action.executor.full_name }}</a>
                                    </td>
                                    <td class="td-category">
                                        <span class="nowrap"><strong>{{ action.date}}</strong> {{ user.balance.balance_type }}</span>
                                    </td>
                                    <td class="td-category">{{ user.phone }}</td>
                                    <td class="td-category">{{ user.position }}</td>
                                    <td class="td-action">
                                        <a href="#addPayment" data-id="{{ user.id }}" class="addPaymentBtn badge badge-primary" data-effect="mfp-zoom-in">Оплатить</a>
                                    </td>
                                    <td>
                                        <div class="custom-control custom-switch custom-switch-success">
                                            <input type="checkbox"
                                                   data-url="/api/v1/crm/user/detail/{{ user.id }}"
                                                   data-id="{{ user.id }}"
                                                   class="custom-control-input isStatus"
                                                   id="customSwitch{{ user.id }}" {% if user.is_active %} checked {% else %} {% endif %}
                                            >
                                            <label class="custom-control-label" for="customSwitch{{ user.id }}">
                                                <span class="switch-icon-left"><i class="feather icon-check"></i></span>
                                                <span class="switch-icon-right"><i class="feather icon-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- dataTable ends -->
                </section>
                <!-- Data list view end -->
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}
    <div id="addEmployee" class="white-popup white-popup__middle mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="addEmployeeForm">
                <div class="popup-title">
                    <h2>Добавить</h2>
                </div>
                <div class="popup-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="last_name">Фамилия<span class="red"> * </span>:</label>
                                <input id="last_name" type="text" class="form-control text" name="last_name" required>
                            </div>
                            <div class="form-group">
                                <label for="first_name">Имя<span class="red"> * </span>:</label>
                                <input id="first_name" type="text" class="form-control text" name="first_name" required>
                            </div>
                            <div class="form-group">
                                <label for="middle_name">Отчество:</label>
                                <input id="middle_name" type="text" class="form-control text" name="middle_name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-avatar">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"/>
                                        <label for="imageUpload"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview"
                                             style="background-image: url({% static 'assets/images/avatar.png' %});">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="birth_date">Дата рождения:</label>
                                <input id="birth_date" type="date" class="form-control text" name="birth_date">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Э-Почта:</label>
                                <input id="email" type="text" class="form-control text" name="email" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="phone">Телефон:</label>
                                <input id="phone" type="text" class="form-control text" name="phone" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="position">Должность <span class="red"> * </span>:</label>
                                <input id="position" type="text" class="form-control text" name="position">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="username">Логин<span class="red"> * </span>:</label>
                                <input id="username" type="text" class="form-control text" name="username" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="password">Пароль<span class="red"> * </span>:</label>
                                <input id="password" type="password" class="form-control text" name="password"
                                       autocomplete="off" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <div id="addPayment" class="white-popup white-popup__small mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="addPaymentForm">
                <div class="popup-title">
                    <h2>Оплатить</h2>
                </div>
                <div class="popup-form">
                    <div class="form-group">
                        <label for="payment_type">Тип оплаты<span class="red"> * </span>:</label>
                        <select name="payment_type" id="payment_type" class="form-control" required>
                            <option value="UZS">UZS</option>
                            <option value="USD">USD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="payment_amount">Сумма оплаты<span class="red"> * </span>:</label>
                        <input id="payment_amount" type="number" class="form-control text" name="payment_amount" required>
                    </div>
                    <div class="form-group">
                        <label for="payment_reason">Причина<span class="red"> * </span>:</label>
                        <textarea id="payment_reason" rows="3" class="form-control" name="payment_reason" required></textarea>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        $(function (){
            $("#phone").inputmask({
                "mask": "+998 (dd) ddd-dddd"
            });

        });
        /* Add Employee*/
        $('.addEmployeeBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageUpload").change(function () {
            readURL(this);
        });

        $(document).ready(function () {
            /* Add */
            $("#addEmployeeForm").submit(function (e) {
                e.preventDefault();
                $('#addEmployee .loader').addClass('active');

                let formData = new FormData();

                formData.append("last_name", $("#last_name").val());
                formData.append("first_name", $("#first_name").val());
                formData.append("middle_name", $("#middle_name").val());
                formData.append("birth_date", $("#birth_date").val());
                formData.append("email", $("#email").val());
                formData.append("phone", $("#phone").val());
                formData.append("position", $("#position").val());
                formData.append("username", $("#username").val());
                formData.append("password", $("#password").val());
                formData.append("role", "Employee");

                for (let i = 0; i < $("#imageUpload")[0].files.length; i++) {
                    formData.append('img', $("#imageUpload")[0].files[i]);
                }

                let url = "/api/v1/crm/user/create/";


                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        setTimeout(function () {
                            $('#addEmployee .loader').removeClass('active');
                        }, 500);
                        location.reload();
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $('#addEmployee .loader').removeClass('active');
                        }, 500);
                        alert('Ошибка');
                    }
                });

            });
        });

        $(".isStatus").on('click', function (event) {
            event.preventDefault();

            let formData = new FormData();
            formData.append("is_active", $(this).is(':checked'));


            let url = $(this).data('url');
            let id = $(this).data('id');

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: url,
                processData: false,
                contentType: false,
                method: 'PATCH',
                data: formData,
                success: function (data) {
                    document.getElementById(`customSwitch${id}`).checked = data.is_active;
                },
                error: function (data) {

                }
            });
        });

        /* Add Payment */
        var user_id;
        $('.addPaymentBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });
        $('.addPaymentBtn').click(function () {
            user_id = $(this).data("id");
        });
        $(document).ready(function () {
            /* Add */
            $("#addPaymentForm").submit(function (e) {
                e.preventDefault();
                $('#addPayment .loader').addClass('active');

                let formData = new FormData();

                formData.append("user", user_id);
                formData.append("type", "Salary");
                formData.append("status", "AWAITING");
                formData.append("payment_type", $("#payment_type").val());
                formData.append("amount", $("#payment_amount").val());
                formData.append("reason", $("#payment_reason").val());

                let url = "/api/v1/crm/sendsalary/create/";


                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        setTimeout(function () {
                            $('#addPayment .loader').removeClass('active');
                        }, 500);
                        location.reload();
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $('#addPayment .loader').removeClass('active');
                        }, 500);
                        alert('Ошибка');
                    }
                });

            });
        });

        $('.btn-close').click(function (event) {
            event.preventDefault();

            $.magnificPopup.close();
        });
    </script>
{% endblock %}
