.card .card-header .card-title {
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}
.form-label-group {
    margin-bottom: 2rem;
}
.login-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.login-logo img{
    height: 105px;
}
.login-title{

}
.login-title h4{
    font-size: 19px;
    font-weight: 600;
}
.form-label-group > input, .form-label-group textarea {
    padding: 0.5rem;
    height: 42px;
    font-size: 16px;
}
.form-control-position {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    width: 2.5rem;
    height: 42px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.form-label-group > input:not(:placeholder-shown) ~ label, .form-label-group textarea:not(:placeholder-shown) ~ label {
    padding: 0.25rem 0;
    font-size: 0.9rem;
    top: -24px;
    left: 3px;
}
.form-label-group > input:not(:focus):not(:placeholder-shown) ~ label, .form-label-group textarea:not(:focus):not(:placeholder-shown) ~ label {
    color : rgba(34, 41, 47, 0.8)!important;
}
.has-icon-left .form-control-position i {
    font-size: 17px;
}
.form-control::-webkit-input-placeholder {
  font-size : 0.9rem;
}
.form-control::-moz-placeholder {
  font-size : 0.9rem;
}
.form-control:-ms-input-placeholder {
  font-size : 0.9rem;
}
.form-control::-ms-input-placeholder {
  font-size : 0.9rem;
}
.form-control::placeholder {
  font-size : 0.9rem!important;
}

.boards-main{
    padding: 60px 150px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
}
.boards-main .boards-container{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: auto;
}

.board-item{
    width: 100%;
    display: block;
    border-radius: 10px;
    background-image: url(../images/board/default.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-bottom: 28px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.board-item:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0 4px 20px 0;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.board-item.active{
    background-image: url(../images/board/active.png);
}
.board-item.archive{
    background-image: url(../images/board/archive.png);
}
.board-item__head{
    position: relative;
    width: 100%;
    height: 210px;
}
.board-head__count {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
}
.board-head__count strong{
    display: block;
    font-weight: 600;
    font-size: 55px;
    line-height: 67px;
    color: #404040;
}
.board-head__count span{
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #404040;
}

.board-head__status{
    position: absolute;
    top: 30px;
    right: 30px;
}
.board-head__status span{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.015em;
    height: 30px;
    background: #4B4B4B;
    border-radius: 21px;
    padding: 0 12px;
    color: #FFFFFF;
}
.board-item.active .board-head__status span{
    background: #58E756;
}
.board-item.archive .board-head__status span{
    background: #42A3DA;
}

.board-item__body{
    padding: 0 30px 15px;
}
.board-body__item{
    position: relative;
    width: 100%;
    height: 70px;
    border-top: 0.56px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.board-body__item:first-child{
    border: 0;
}

.board-body__item strong{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #404040;
}
.board-body__item i.feather{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 18px;
    color: #E5E5E5;
}
.board-body__item > div{
    text-align: right;
}
.board-body__item > div > span{
    display: flex;
    padding: 2.5px 0;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #504B4B;
}
.board-body__item > div > span i{
    font-weight: 400;
    font-style: italic;
    margin-right: 12px;
}

.board-body__item > span{
    font-size: 14px;
    line-height: 17px;
    color: #404040;
}
.board-body__item > div > strong{
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #404040;
}
.board-body__item > div > i{
    color: #404040;
    font-style: italic;
    font-size: 14px;
    line-height: 14px;
    display: block;
}
.board-body__item.active i.feather{
    color: #58E756;
}


@media (max-width: 1480px) {
    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-right: 10px;
        padding-left: 10px;
    }
    .boards-main {
        padding: 45px 60px;
    }
    .board-item{
        margin-bottom: 20px;
    }
    .board-head__count strong {
        font-size: 42px;
        line-height: 58px;
    }
    .board-head__status span {
        font-size: 13px;
        line-height: 16px;
    }
    .board-item__head {
        height: 160px;
    }
    .board-head__count {
        bottom: 15px;
    }
    .board-body__item {
        height: 60px;
    }
    .board-item__body {
        padding: 0 20px 10px;
    }
    .board-head__status {
        top: 20px;
        right: 20px;
    }
    .board-body__item strong {
        font-size: 15px;
        line-height: 18px;
    }
    .board-body__item > div > span {
        font-size: 14px;
        line-height: 15px;
    }
    .board-head__count span {
        font-size: 15px;
        line-height: 17px;
    }
    .board-body__item > div > strong {
        font-size: 17px;
    }
}