.nowrap{
    white-space: nowrap;
}
table.table{
  border-spacing: 0 1rem;
    border-collapse: separate !important;
    padding: 0;
}
table.table thead th{
  font-weight : 600;
}
table.table thead th input:focus{
  outline : 0;
}

table.table tbody tr{
  background-color : #FFFFFF;
  box-shadow : rgba(0, 0, 0, 0.05) 0 4px 20px 0;
  /*cursor : pointer;*/
  -webkit-transition : all 0.3s ease;
          transition : all 0.3s ease;
  border-radius : 0.5rem;
}
table.table tbody tr:hover{
  -webkit-transform : translateY(-4px);
      -ms-transform : translateY(-4px);
          transform : translateY(-4px);
  -webkit-transition : all 0.3s ease;
          transition : all 0.3s ease;
}
table.table tbody tr.winner{
    background-color: rgba(76, 175, 80, 0.15);
}
table.table tbody tr.loser{
    background-color: rgba(244, 67, 54, 0.15);
}


table.table tbody tr td:first-child{
  border-top-left-radius : 0.5rem;
  border-bottom-left-radius : 0.5rem;
}
table.table tbody tr td:last-child{
  border-top-right-radius : 0.5rem;
  border-bottom-right-radius : 0.5rem;
}
table.table tbody tr.selected td{
  border-radius : 0;
}
table.table thead th,
table.table tbody td{
  padding : 1.357rem;
  border : none;
  vertical-align : middle;
}
table.table tbody td input:focus{
  outline : 0;
}
table.table tbody td.td-name{
  font-weight : 500;
}
table.table tbody td:focus{
  outline : 0;
}
table.table tbody td .progress{
  margin-bottom : 0;
  box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
table.table thead tr th,
table.table tbody tr td {
    padding-top: .875rem;
    padding-bottom: .875rem;
}
table.table tbody tr td.td-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.td-action .download-file,
.td-action .add-file,
.td-action .addBtn,
.td-action .action-edit{
  display: flex;
  font-size: 13px;
  align-items: center;
  white-space: nowrap;
  color: #626262;
  -webkit-transition : all 0.3s ease;
          transition : all 0.3s ease;
}
.td-action .download-file i,
.td-action .add-file i,
.td-action .action-edit i{
  font-size: 15px;
  margin-right: 5px;
}
.td-action .download-file:hover,
.td-action .add-file:hover,
.td-action .addBtn:hover,
.td-action .action-edit:hover{
  color: #7367F0;
}
.td-action .action-delete{
  font-size: 16px;
  color: #EA5455;
}

.dropdown-table .btn{
    color: #626262;
    font-size: 0.85rem;
    font-weight: 600;
}
.dropdown.dropdown-table .dropdown-menu .dropdown-item {
    padding: 5px 1em;
}
.dropdown.dropdown-table .dropdown-menu{
    max-height: 275px;
    overflow-y: auto;
}
.red{
    color: #f36a5a;
}
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px 40px;
    border-radius: 0.5rem;
    width: auto;
    margin: 0 auto;
}
.white-popup__middle{
    max-width: 745px;
}
.white-popup__small{
    max-width: 475px;
}
.white-popup__stages{
    max-width: 655px;
}
.mfp-content {
    overflow-y: auto;
    max-height: 100%;
    padding: 20px 0;
}
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-close,
.mfp-close:active{
    font-size: 32px;
    right: 10px;
    top: 10px;
}
.mfp-close-btn-in .mfp-close{
    color: #4839EB;
}

.popup-main{
    position: relative;
}
.popup-main .loader{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
}
.popup-main .loader .loader-image img{
    width: 64px;
}
.popup-main .loader.active{
    display: flex;
}
.popup-main .loader .loader-title {
    position: absolute;
    bottom: calc(50% - 75px);
    transform: translateY(50%);
    font-size: 17px;
    color: #2E5E80;
}
.popup-title{
    margin-bottom: 15px;
}
.popup-title h2{
    font-size: 21px;
    line-height: 27px;
    margin: 0;
    font-weight: 500;
    color: #636363;
}
.popup-form{

}
.popup-form__stage{
    border-radius: 4px;
    padding: 15px 20px 5px;
    background: #F8F8F8;
    margin-bottom: 20px;
}
.popup-form .popup-form__stage p{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.popup-form p{
    font-size: 17px;
    margin-bottom: 15px;
}
.popup-form .form-group{
    margin-bottom: 15px;
}
.popup-form .form-group .label{
    font-weight: normal;
    font-size: 16px;
    color: #636363;
    line-height: 21px;
}
.popup-form .form-control{
    font-size: 15px;
    line-height: 17px;
    font-weight: 500;
}
.popup-form .form-control.text{
    height: 38px;
}
.popup-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 10px;
}
.white-popup.white-popup__messages{
    padding: 0;
}
.white-popup.white-popup__messages .popup-title{
    height: 50px;
    background-color: #2E5E80;
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin: 0;
}
.white-popup.white-popup__messages .popup-title h2 {
    font-weight: 400;
    color: #FFFFFF;
}
.mfp-close-btn-in .white-popup.white-popup__messages .mfp-close {
    color: #ffffff;
    top: 3px;
}


.form-avatar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar-upload {
    position: relative;
    max-width: 205px;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #4839EB;
    position: absolute;
    top: 5px;
    left: 2px;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 180px;
    height: 180px;
    position: relative;
    border-radius: 100%;
    border: 3px solid rgba(115, 103, 240, 0.3);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form-group label {
    margin-bottom: 7px;
}
.table-responsive {
    min-height: calc(100vh - 225px);
}


.form-tabs{

}
.form-tabs .nav.nav-pills .nav-item .nav-link{
    border: 1px solid #D9D9D9;
    padding: 5px 12px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.form-tabs .nav.nav-pills .nav-item .nav-link i{
    font-size: 13px;
    margin-right: 5px;
}


.card-images{

}
.card-image__item{
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}
.card-image__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card-status{
    display: block;
    color: #7367F0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    margin-bottom: 15px;
}

.card-user{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card-currency{
    margin-bottom: 20px;
}
.card-currency h3{
    font-size: 15px;
    margin-bottom: 5px;
    color: #999;
}
.card-currency span{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #2C2C2C;
}

.card-statcheck{

}
.card-statcheck .nav.nav-pills .nav-item .nav-link {
    border: 1px solid #D9D9D9;
    padding: 5px 12px;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.form-group label.input-file {
    margin: 25px 0 0;
}
.input-file {
  position:relative;
  overflow:hidden;
  padding:0;
  display:block;
  max-width:100%;
  cursor:pointer;
}

.input-file .btn {
  white-space:nowrap;
  display:inline-block;
  width: 100%;
  vertical-align:top;
}

.input-file .material-icons {
  float:left;
  font-size:16px;
  line-height:inherit;
  margin-right:4px;
}

.input-file ins {
    white-space:nowrap;
    display: block;
    max-width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:13px;
    margin-top: 10px;
}

.input-file:after {
    content:"";
    display:block; clear:both;
}

.input-file input {
    width:0.1px;
    height:0.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    top:-100px;
  z-index:-1;
}



.my-menu, .mg-flat{
    width: 100%;
    padding: 0;
}
.mg-flat li {
    position: relative;
}
.my-menu li.dropdown a,
.my-menu li > a{
    position: relative;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.05) 0 4px 20px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    margin-bottom: 10px;
    padding: .875rem 1.357rem;
    border: 0;
    color: #626262;
}
.my-menu .nav-control{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 13px;
}
.my-menu .nav-control > a.control{
    background: transparent;
    margin: 0;
    display: flex;
    box-shadow: none;
    padding: 0;
    margin-left: 30px;
    font-size: 13px;
    align-items: center;
    white-space: nowrap;
    color: #626262;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.my-menu .nav-control > a.control i{
    font-size: 15px;
    margin-right: 5px;
}
.my-menu .nav-control > a.control.trash{
    font-size: 16px;
    color: #EA5455;
}
.mg-flat span.toggler {
    position: absolute;
    right: 160px;
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    color: #7367f0;
}
.mg-flat .openItem span.toggler {
    transform: translateY(50%) rotate(180deg);
    color: #7367F0;
}
.mg-flat a.openItem {
    background: rgba(115, 103, 240, 0.2)!important;
    color: #626262;
}
.mg-flat span i {
    margin: 0;
}


.mg-flat li.dropdown {
    margin: 0;
}
.mg-flat .submenu li {
    margin-left: -20px!important;
}

.cke_editable {
    line-height: 1.2;
}
.cke_editable p{
    margin: 0;
    margin-bottom: 15px;
}

.nav-item.has-sub ul.menu-content li span{
    font-size: 14px;
}

.btns-group{

}

.white-popup__media {
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
}

.media{

}
.media-head{

}
.media-images{
    display: flex;
    flex-wrap: wrap;
}
.media-item{
    position: relative;
    flex: 0 0 200px;
    padding: 2px;
    width: 200px;
    height: 200px;
    border: 1px solid #dedede;
    margin-right: 15px;
    margin-bottom: 15px;
}
.media-add{

}
.media-add label{
    width: 100%;
    padding: 0;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}
.media-add label:hover{
    color: #7367F0;
}
.media-add input{
    visibility: hidden;
    width: 100%;
}
.media-item__image{
    width: 100%;
    height: 100%;
}
.media-item__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.media-item__settings{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.media-item__settings a.delete{
    display: flex;
    background: #fff;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    color: #e82222;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.media-item__settings .activeMedia{
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    border-right: 1px solid #dedede;
    font-size: 19px;
}
.media-item__settings .activeMedia input{
    visibility: hidden;
    opacity: 0;
    position: absolute;
}
.media-item__settings .activeMedia label{
    width: 100%;
    height: 100%;
    background: #fff;
    color: #4839EB;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
}
.media-item__settings .activeMedia input:checked ~ label{
    background-color: #4839EB;
    color: #FFFFFF;
}
.td-action .badge{
    color: #ffffff;
    padding: 0.5em 0.75em;
    font-size: 12px;
}
