{% extends 'base_employee.html' %}
{% load static %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Посещаемость</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user:index_employee' %}">Главная</a>
                                    </li>
                                    <li class="breadcrumb-item active">Посещаемость</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Data list view starts -->
                <section id="data-thumb-view" class="data-thumb-view-header">
                    <!-- dataTable starts -->
                    <div class="table-responsive">
                        <table class="table data-thumb-view">
                            <thead>
                                <tr>
                                    <th width="1%">Дата</th>
                                    <th width="300px">Ф.И.О.</th>
                                    <th width="100px">День недели</th>
                                    <th width="1%">Опрос</th>
                                    <th width="1%" class="nowrap">Время прихода</th>
                                    <th width="1%" class="nowrap">Время ухода</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in attendance %}
                                <tr class="{% if object.is_late %}redtr{% endif %}">
                                    <td class="text-center nowrap">
                                        <strong>{{ object.date|date:"j M, Y" }}</strong>
                                    </td>
                                    <td class="td-name">{{ object.user.username }}</td>
                                    <td class="td-category">{{ object.date|date:"l" }}</td>

                                    <td class="td-action text-center">
                                        {% if object.standup.finished %}
                                            <a href="#infoStandup" data-url="/api/v1/crm/standup/detail/{{ object.standup.id }}" class="infoStandupBtn badge bg-warning" data-effect="mfp-zoom-in">Посмотреть</a>
                                        {% else %}
                                            -- | --
                                        {% endif %}

                                    </td>
                                    <td class="td-action nowrap text-center">
                                        <span>{{ object.time_in|date:'H:i' }}</span>
                                    </td>
                                    <td class="td-action nowrap text-center">
                                        {% if object.status %}
                                            <a href="#addOutAtt" data-out="{{ object.standup.id }}" class="addOutAttBtn badge bg-primary" data-effect="mfp-zoom-in">Ушёл</a>
                                        {% else %}
                                            <span>{{ object.time_out|date:'H:i' }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- dataTable ends -->
                </section>
                <!-- Data list view end -->
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}
    <div id="infoStandup" class="white-popup white-popup__middle mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>

            <div class="popup-title">
                <h2>Опрос</h2>
            </div>
            <div class="popup-body mb-1">
                <ul class="list-group stnadup-list" style="font-size: 17px">

                </ul>
            </div>
        </div>
    </div>

    <div id="addOutAtt" class="white-popup white-popup__middle mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="addOutAttForm">
                <div class="popup-title">
                    <h2>Время ухода</h2>
                </div>
                <div class="popup-form">
                    <div class="form-group">
                        <label for="answer">Какая работа была сегодня проделана?<span class="red"> * </span>:</label>
                        <textarea id="answer" rows="3" class="form-control" name="answer" required></textarea>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        /* Info addStandup */
        var info_url;
        $('.infoStandupBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        $(".infoStandupBtn").click(function () {
            let template = "";

            info_url = $(this).data('url');

            $('#infoStandup .loader').addClass('active');

            $.getJSON(`${info_url}`, function (data) {
                if(data.reason){
                    template = `<li class="list-group-item">
                        <strong>Причина опоздания: </strong>
                        <span>${data.reason}</span>
                    </li>`
                }
                template += `<li class="list-group-item">
                        <strong>Как Ваше самочувствие?: </strong>
                        <span>${data.q1}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Над чем вы сегодня будете работать?</strong>
                        <span>${data.q2}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Есть ли факторы, которые могут блокировать процесс работы? </strong>
                        <span>${data.q3}</span>
                    </li>`;
            });
            setTimeout(function () {
                $('#infoStandup .loader').removeClass('active');
                $(".stnadup-list").html(template);
            }, 100);
            console.log(template);
        });

        /* Add addOutAtt */
        var att_out_id;
        $('.addOutAttBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });
        $(".addOutAttBtn").click(function (event) {
            event.preventDefault();

            att_out_id = $(this).data("out")
        });
        $("#addOutAttForm").submit(function (event) {
            event.preventDefault();

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: "/api/v1/crm/attendance/create/",
                contentType: false,
                method: 'POST',
                success: function (data) {
                    //location.reload();
                },
                error: function (data) {
                    alert('Ошибка');
                }
            });

            let formData = new FormData();

            formData.append("answer", $("#answer").val());

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: `/api/v1/crm/standup/detail/${att_out_id}`,
                processData: false,
                contentType: false,
                method: 'PATCH',
                data: formData,
                success: function (data) {
                    //alert('успех!');
                    setTimeout(function () {
                        $('#addOutAtt .loader').removeClass('active');
                    }, 500);
                    location.reload();
                },
                error: function (data) {
                    setTimeout(function () {
                        $('#addOutAtt .loader').removeClass('active');
                    }, 500);
                    alert('Ошибка');
                }
            });
        });
    </script>
{% endblock %}
