{% extends 'base_admin.html' %}
{% load static %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Доска предложений</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user:index_admin' %}">Главная</a>
                                    </li>
                                    <li class="breadcrumb-item active">Доска предложений
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="breadcrum-right">
                        <a href="#add" data-effect="mfp-zoom-in" class="addBtn btn btn-primary">Добавить</a>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Data list view starts -->
                <section id="data-thumb-view" class="data-thumb-view-header">
                    <!-- dataTable starts -->
                    <div class="table-responsive">
                        <table class="table data-thumb-view">
                            <thead>
                                <tr>
                                    <th width="1%">№</th>
                                    <th width="300px">Название</th>
                                    <th width="100px">Приём</th>
                                    <th width="100px">Модерация</th>
                                    <th width="100px">Голосование</th>
                                    <th width="1%">Бюджет</th>
                                    <th width="1%"></th>
                                    <th width="1%">Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for aplicationboard in applicationboard_list %}
                                <tr>
                                    <td>{{ aplicationboard.id }}</td>
                                    <td class="td-name">
                                        <span>Aplication Board {{ aplicationboard.start_date | date:"d.m.Y" }} - {{ aplicationboard.end_date | date:"d.m.Y" }}</span>
                                        <br>
                                        <a href="{% url 'api_application:export' id=aplicationboard.id %}" data-url="/api/v1/application/export/{{ aplicationboard.id }}/" class="exportExel"><i class="fa fa-file-excel-o" aria-hidden="true"></i> скачать xls</a>
                                    </td>
                                    <td class="td-category">{{ aplicationboard.waitingstage.start_date | date:"d.m.Y" }} - {{ aplicationboard.waitingstage.end_date | date:"d.m.Y" }}</td>
                                    <td class="td-category">{{ aplicationboard.moderationstage.start_date | date:"d.m.Y" }} - {{ aplicationboard.moderationstage.end_date | date:"d.m.Y" }}</td>
                                    <td class="td-category">{{ aplicationboard.votingstage.start_date | date:"d.m.Y" }} - {{ aplicationboard.votingstage.end_date | date:"d.m.Y" }}</td>
                                    <td class="td-action">
                                        <div class="d-flex">
                                            {% if aplicationboard.districtbudgetattachment_set.exists %}
                                                <a href="{{ aplicationboard.districtbudgetattachment_set.last.file.url }}" class="download-file mr-1" download="download"><i class="fa fa-file-excel-o" aria-hidden="true"></i> xls</a>
                                            {% else %}
                                                <a href="{% url 'api_admin:districtbudget_example' %}" class="download-file mr-1" download="download"><i class="fa fa-file-excel-o" aria-hidden="true"></i> xls</a>
                                            {% endif %}
                                            {% if not aplicationboard.is_archive %}
                                                <a href="#addFile" class="add-file" data-id="{{ aplicationboard.id }}" data-effect="mfp-zoom-in"><i class="feather icon-upload" aria-hidden="true"></i></a>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="td-action">
                                        <a href="#edit" data-url="/api/v1/admin/applicationboard/{{ aplicationboard.id }}/" class="action-edit" data-effect="mfp-zoom-in"><i class="feather icon-edit"></i> Ред-ть</a>
                                    </td>
                                    <td>
                                        {% if aplicationboard.is_active %}
                                            <div class="chip chip-success">
                                                <div class="chip-body">
                                                    <div class="chip-text">активный</div>
                                                </div>
                                            </div>
                                        {% elif aplicationboard.is_archive %}
                                            <div class="chip chip-info">
                                                <div class="chip-body">
                                                    <div class="chip-text">Архив</div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="chip chip-secondary">
                                                <div class="chip-body">
                                                    <div class="chip-text">неактивный</div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% load paginator %}
                        {% get_pagination %}

                    </div>
                    <!-- dataTable ends -->
                </section>
                <!-- Data list view end -->
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}
    <div id="add" class="white-popup white-popup__stages mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="addForm">
                <div class="popup-title">
                    <h2>Добавить</h2>
                </div>
                <div class="popup-form">
                    <div class="popup-form__stage">
                        <p>Приём: </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="waiting_start">Дата начала <span class="red"> * </span>:</label>
                                    <input id="waiting_start" min="{% now "Y-m-d" %}" type="date" class="form-control" name="waiting_start" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="waiting_end">Дата окончания <span class="red"> * </span>:</label>
                                    <input id="waiting_end" min="{% now "Y-m-d" %}" type="date" class="form-control" name="waiting_end" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup-form__stage">
                        <p>Модерация: </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="moderating_start">Дата начала <span class="red"> * </span>:</label>
                                    <input id="moderating_start" min="{% now "Y-m-d" %}" type="date" class="form-control" name="moderating_start">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="moderating_end">Дата окончания <span class="red"> * </span>:</label>
                                    <input id="moderating_end" min="{% now "Y-m-d" %}" type="date" class="form-control" name="moderating_end" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup-form__stage">
                        <p>Голосование: </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="voting_start">Дата начала <span class="red"> * </span>:</label>
                                    <input id="voting_start" min="{% now "Y-m-d" %}" type="date" class="form-control" name="voting_start" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="voting_end">Дата окончания <span class="red"> * </span>:</label>
                                    <input id="voting_end" min="{% now "Y-m-d" %}" type="date" class="form-control" name="voting_end" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <div id="edit" class="white-popup white-popup__stages mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="editForm">
                <div class="popup-title">
                    <h2>Редактировать</h2>
                </div>
                <div class="popup-form">
                    <div class="popup-form__stage">
                        <p>Приём: </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="waiting_startE">Дата начала <span class="red"> * </span>:</label>
                                    <input id="waiting_startE" min="" type="date" class="form-control" name="waiting_startE" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="waiting_endE">Дата окончания <span class="red"> * </span>:</label>
                                    <input id="waiting_endE" min="" type="date" class="form-control" name="waiting_endE" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup-form__stage">
                        <p>Модерация: </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="moderating_startE">Дата начала <span class="red"> * </span>:</label>
                                    <input id="moderating_startE" min="" type="date" class="form-control" name="moderating_startE">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="moderating_endE">Дата окончания <span class="red"> * </span>:</label>
                                    <input id="moderating_endE" min="" type="date" class="form-control" name="moderating_endE" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup-form__stage">
                        <p>Голосование: </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="voting_startE">Дата начала <span class="red"> * </span>:</label>
                                    <input id="voting_startE" min="" type="date" class="form-control" name="voting_startE" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="voting_endE">Дата окончания <span class="red"> * </span>:</label>
                                    <input id="voting_endE" min="" type="date" class="form-control" name="voting_endE" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <div id="addFile" class="white-popup white-popup__small mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="addFileForm">
                <div class="popup-title">
                    <h2>Добавить</h2>
                </div>
                <div class="popup-form">
                    <div class="form-group">
                        <label class="input-file">
                            <b class="btn btn-primary">
                                <i class="feather icon-download"></i> Выберите файл</b>
                            <input id="fileInput" type="file" name="fileinput" class="fileInput">
                        </label>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        $(function () {
            $("#waiting_start").change(function () {
                $("#waiting_end").attr('min', $(this).val());
            });
            $("#waiting_end").change(function () {
                $("#moderating_start").attr('min', $(this).val());
            });
            $("#moderating_start").change(function () {
                $("#moderating_end").attr('min', $(this).val());
            });
            $("#moderating_end").change(function () {
                $("#voting_start").attr('min', $(this).val());
            });
            $("#voting_start").change(function () {
                $("#voting_end").attr('min', $(this).val());
            });

            $("#waiting_startE").change(function () {
                $("#waiting_endE").attr('min', $(this).val());
            });
            $("#waiting_endE").change(function () {
                $("#moderating_startE").attr('min', $(this).val());
            });
            $("#moderating_startE").change(function () {
                $("#moderating_endE").attr('min', $(this).val());
            });
            $("#moderating_endE").change(function () {
                $("#voting_startE").attr('min', $(this).val());
            });
            $("#voting_startE").change(function () {
                $("#voting_endE").attr('min', $(this).val());
            });
        });
        /* Add */
        $('.addBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });
        $(document).ready(function () {
            /* Add */
            $("#addForm").submit(function (e) {
                e.preventDefault();
                $('#add .loader').addClass('active');

                let formData = new FormData();

                formData.append("start_date", $("#waiting_start").val());
                formData.append("end_date", $("#voting_end").val());

                formData.append("waiting_stage.start_date", $("#waiting_start").val());
                formData.append("waiting_stage.end_date", $("#waiting_end").val());

                formData.append("moderating_stage.start_date", $("#moderating_start").val());
                formData.append("moderating_stage.end_date", $("#moderating_end").val());

                formData.append("voting_stage.start_date", $("#voting_start").val());
                formData.append("voting_stage.end_date", $("#voting_end").val());

                let url = "/api/v1/admin/applicationboard/create/";

                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        setTimeout(function () {
                            $('#add .loader').removeClass('active');
                        }, 500);
                        location.reload();
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $('#add .loader').removeClass('active');
                        }, 500);
                        alert('Ошибка');
                    }
                });

            });
        });

        /* Edit */
        var edit_url = "";
        $('.action-edit').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        $('.action-edit').click(function () {
            edit_url = $(this).data('url');

            $('#editEmployee .loader').addClass('active');

            $.getJSON(`${edit_url}`, function (data) {
                console.log(data);
                $("#waiting_startE").val(data.waiting_stage.start_date);
                $("#waiting_endE").val(data.waiting_stage.end_date);
                $("#moderating_startE").val(data.moderating_stage.start_date);
                $("#moderating_endE").val(data.moderating_stage.end_date);
                $("#voting_startE").val(data.voting_stage.start_date);
                $("#voting_endE").val(data.voting_stage.end_date);
            });
            setTimeout(function () {
                $('#edit .loader').removeClass('active');
            }, 1000);


        });

        $(document).ready(function () {
            $("#editForm").submit(function (e) {
                e.preventDefault();
                $('#edit .loader').addClass('active');

                let formData = new FormData();
                formData.append("start_date", $("#waiting_startE").val());
                formData.append("end_date", $("#voting_endE").val());

                formData.append("waiting_stage.start_date", $("#waiting_startE").val());
                formData.append("waiting_stage.end_date", $("#waiting_endE").val());
                formData.append("moderating_stage.start_date", $("#moderating_startE").val());
                formData.append("moderating_stage.end_date", $("#moderating_endE").val());
                formData.append("voting_stage.start_date", $("#voting_startE").val());
                formData.append("voting_stage.end_date", $("#voting_endE").val());

                let url = edit_url;

                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'PATCH',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        setTimeout(function () {
                            $('#edit .loader').removeClass('active');
                        }, 500);
                        location.reload();
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $('#edit .loader').removeClass('active');
                        }, 500);
                        alert('Ошибка');
                    }
                });
            });
        });

        var application_board_id;
        $('.fileInput').change(function() {
            var numfiles = $(this)[0].files.length;
            var parent = $(this).closest('.input-file');
            parent.find('ins').remove();
            for (i = 0; i < numfiles; i++) {
                parent.append('<ins>' + $(this)[0].files[i].name + '</ins>')
            }
        });

        /* Add */
        $('.add-file').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });
        $('.add-file').click(function (){
           application_board_id = $(this).data('id');
        });
        $(document).ready(function () {
            /* Add */
            $("#addFileForm").submit(function (e) {
                e.preventDefault();
                $('#addFile .loader').addClass('active');

                let formData = new FormData();
                formData.append('application_board', application_board_id);
                for (let i = 0; i < $("#fileInput")[0].files.length; i++) {
                    formData.append('file', $("#fileInput")[0].files[i]);
                }

                let url = "/api/v1/admin/districtbudget/upload/";

                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        setTimeout(function () {
                            $('#addFile .loader').removeClass('active');
                        }, 500);
                        location.reload();
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $('#addFile .loader').removeClass('active');
                        }, 500);
                        alert('Ошибка');
                    }
                });

            });
        });

        {##}
        {#$(".exportExel").click(function (event) {#}
        {#    event.preventDefault();#}
        {#    let url = $(this).data('url');#}
        {##}
        {#    $.get(`${url}`, function (data) {});#}
        {#})#}
    </script>

{% endblock %}
