{% extends 'base_employee.html' %}
{% load static %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">{{ month }}</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user:employee_attendance' %}">Посещаемость</a>
                                    </li>
                                    <li class="breadcrumb-item active">{{ month }}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not status %}
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="breadcrum-right">
                        <a href="#" class="addAttendanceBtn btn btn-primary">Добавить</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="content-body">
                <!-- Data list view starts -->
                <section id="data-thumb-view" class="data-thumb-view-header">
                    <!-- dataTable starts -->
                    <div class="table-responsive">
                        <table class="table data-thumb-view">
                            <thead>
                                <tr>
                                    <th width="1%">День</th>
                                    <th width="300px">Ф.И.О.</th>
                                    <th width="100px">День недели</th>
                                    <th width="1%">Опрос</th>
                                    <th width="1%" class="nowrap">Время прихода</th>
                                    <th width="1%" class="nowrap">Время ухода</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in attendance %}
                                <tr class="{% if object.is_late %}redtr{% endif %}">
                                    <td class="text-center">
                                        <strong class="font-medium-2">{{ object.date.day}}</strong>
                                    </td>
                                    <td class="td-name">{{ object.user.username }}</td>
                                    <td class="td-category">{{ object.day }}</td>

                                    <td class="td-action">
                                        {% if object.standup.finished %}
                                            <a href="#infoStandup" data-url="/api/v1/crm/standup/detail/{{ object.standup.id }}" class="infoStandupBtn badge bg-warning" data-effect="mfp-zoom-in">Посмотреть</a>
                                        {% else %}
                                            <a href="#addStandup" data-attendance="{{ object.id }}" class="addStandupBtn badge bg-warning" data-effect="mfp-zoom-in"><i class="feather icon-edit"></i> Добавить</a>
                                        {% endif %}

                                    </td>
                                    <td class="td-action nowrap text-center">
                                        <span>{{ object.time_in|date:'H:i' }}</span>
                                    </td>
                                    <td class="td-action nowrap text-center">
                                        {% if object.status %}
                                            <a href="#addOutAtt" data-out="{{ object.standup.id }}" class="addOutAttBtn badge bg-primary" data-effect="mfp-zoom-in">Ушёл</a>
                                        {% else %}
                                            <span>{{ object.time_out|date:'H:i' }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- dataTable ends -->
                </section>
                <!-- Data list view end -->
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}
    <div id="addStandup" class="white-popup white-popup__middle mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="addStandupForm">
                <div class="popup-title">
                    <h2>Опрос</h2>
                </div>
                <div class="popup-form">
                    {% if 1 == 1 %}
                        <div class="form-group">
                            <label for="reason">Причина?<span class="red"> * </span>:</label>
                            <input id="reason" type="text" class="form-control text" name="reasonques1" required>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="ques1">Какое Ваше самочувствие?<span class="red"> * </span>:</label>
                        <input id="ques1" type="text" class="form-control text" name="ques1" required>
                    </div>
                    <div class="form-group">
                        <label for="ques2">Какая работа была сегодня проделана?<span class="red"> * </span>:</label>
                        <textarea id="ques2" rows="3" class="form-control" name="ques2" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ques3">Какие обстоятельства блокировали Ваш прогресс?<span class="red"> * </span>:</label>
                        <input id="ques3" type="text" class="form-control text" name="ques3" required>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <div id="infoStandup" class="white-popup white-popup__middle mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>

            <div class="popup-title">
                <h2>Опрос</h2>
            </div>
            <div class="popup-body mb-1">
                <ul class="list-group stnadup-list" style="font-size: 17px">

                </ul>
            </div>
        </div>
    </div>

    <div id="addOutAtt" class="white-popup white-popup__middle mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="addOutAttForm">
                <div class="popup-title">
                    <h2>Время ухода</h2>
                </div>
                <div class="popup-form">
                    <div class="form-group">
                        <label for="answer">Какая работа была сегодня проделана?<span class="red"> * </span>:</label>
                        <textarea id="answer" rows="3" class="form-control" name="answer" required></textarea>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        var attendance_id;
        $(".addAttendanceBtn").click(function (event) {
            event.preventDefault();
            let url = "/api/v1/crm/attendance/create/"
            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: url,
                contentType: false,
                method: 'POST',
                success: function (data) {
                    if(data.finished){
                       alert("Bugun qoshilgan");
                    }else{
                        attendance_id = data.id;
                        $.magnificPopup.open({
                            items: {
                                src: '#addStandup'
                            },
                            type: 'inline'
                        });
                    }

                },
                error: function (data) {
                    alert('Ошибка');
                }
            });
        });

        /* Add addStandup */
        $('.addStandupBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });
        $(".addStandupBtn").click(function (event) {
            event.preventDefault();

            attendance_id = $(this).data("attendance")
        });
        $(document).ready(function () {
            /* Add */
            $("#addStandupForm").submit(function (e) {
                e.preventDefault();
                $('#addStandup .loader').addClass('active');

                let formData = new FormData();

                formData.append("reason", $("#reason").val());
                formData.append("q1", $("#ques1").val());
                formData.append("q2", $("#ques2").val());
                formData.append("q3", $("#ques3").val());
                formData.append("attendance", attendance_id);

                let url = "/api/v1/crm/standup/create/";

                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        setTimeout(function () {
                            $('#addStandup .loader').removeClass('active');
                        }, 500);
                        location.reload();
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $('#addStandup .loader').removeClass('active');
                        }, 500);
                        alert('Ошибка');
                    }
                });

            });
        });

        /* Info addStandup */
        var info_url;
        $('.infoStandupBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        $(".infoStandupBtn").click(function () {
            let template = "";

            info_url = $(this).data('url');

            $('#infoStandup .loader').addClass('active');

            $.getJSON(`${info_url}`, function (data) {
                if(data.reason){
                    template = `<li class="list-group-item">
                        <strong>Причина опоздания: </strong>
                        <span>${data.reason}</span>
                    </li>`
                }
                template += `<li class="list-group-item">
                        <strong>Какое Ваше самочувствие?: </strong>
                        <span>${data.q1}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Какая работа была сегодня проделана?: </strong>
                        <span>${data.q2}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Какие обстоятельства блокировали Ваш прогресс?: </strong>
                        <span>${data.q3}</span>
                    </li>`;
            });
            setTimeout(function () {
                $('#infoStandup .loader').removeClass('active');
                $(".stnadup-list").html(template);
            }, 100);
        });

        /* Add addOutAtt */
        var att_out_id;
        $('.addOutAttBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });
        $(".addOutAttBtn").click(function (event) {
            event.preventDefault();

            att_out_id = $(this).data("out")
        });
        $("#addOutAttForm").submit(function (event) {
            event.preventDefault();

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: "/api/v1/crm/attendance/create/",
                contentType: false,
                method: 'POST',
                success: function (data) {
                    //location.reload();
                },
                error: function (data) {
                    alert('Ошибка');
                }
            });

            let formData = new FormData();

            formData.append("answer", $("#answer").val());

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: `/api/v1/crm/standup/detail/${att_out_id}`,
                processData: false,
                contentType: false,
                method: 'PATCH',
                data: formData,
                success: function (data) {
                    //alert('успех!');
                    setTimeout(function () {
                        $('#addOutAtt .loader').removeClass('active');
                    }, 500);
                    location.reload();
                },
                error: function (data) {
                    setTimeout(function () {
                        $('#addOutAtt .loader').removeClass('active');
                    }, 500);
                    alert('Ошибка');
                }
            });
        });
    </script>
{% endblock %}
