{% extends 'base_informer.html' %}
{% load mptt_tags %}
{% load static %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">{{ menu.title.ru }}</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user:index_admin' %}">Главная</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">{{ menu.title.ru }}</a>
                                    </li>
                                    <li class="breadcrumb-item active">Добавить
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">

                </div>
            </div>
            <div class="content-body">
                <!-- Data list view starts -->
                <form id="addForm" class="card">
                    <div class="card-header">
                        <div class="form-tabs">
                            <ul class="nav nav-pills nav-active-bordered-pill">
                                <li class="nav-item">
                                    <a class="nav-link active" id="base-pill_ru" data-toggle="pill" href="#pill_ru" aria-expanded="true"><i class="flag-icon flag-icon-ru"></i> Ру</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="base-pill_uz" data-toggle="pill" href="#pill_uz" aria-expanded="false"><i class="flag-icon flag-icon-uz"></i> Уз</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="base-pill_oz" data-toggle="pill" href="#pill_oz" aria-expanded="false"><i class="flag-icon flag-icon-uz"></i> O'z</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="base-pill_en" data-toggle="pill" href="#pill_en" aria-expanded="false"><i class="flag-icon flag-icon-us"></i> En</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="base-pill_qr" data-toggle="pill" href="#pill_qr" aria-expanded="false"><i class="flag-icon flag-icon-uz"></i> Qr</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="form-tabs">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="pill_ru" aria-expanded="true" aria-labelledby="base-pill_ru">
                                    <!-- Form Ru -->
                                    <div class="form-group">
                                        <label for="title_ru">Название (ру):</label>
                                        <input id="title_ru" type="text" class="form-control text" name="title_ru" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Контент (ру):</label>
                                        <textarea name="editor_ru" id="editor_ru" class="editor"></textarea>
                                    </div>
                                </div>
                                <div class="tab-pane" id="pill_uz" aria-labelledby="base-pill_uz">
                                    <!-- Form Uz -->
                                    <div class="form-group">
                                        <label for="title_uz">Название (уз):</label>
                                        <input id="title_uz" type="text" class="form-control text" name="title_uz">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Контент (уз):</label>
                                        <textarea name="editor_uz" id="editor_uz" class="editor"></textarea>
                                    </div>
                                </div>
                                <div class="tab-pane" id="pill_oz" aria-labelledby="base-pill_oz">
                                    <!-- Form Oz -->
                                    <div class="form-group">
                                        <label for="title_oz">Название (o'z):</label>
                                        <input id="title_oz" type="text" class="form-control text" name="title_oz">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Контент (o'z):</label>
                                        <textarea name="editor_oz" id="editor_oz" class="editor"></textarea>
                                    </div>
                                </div>
                                <div class="tab-pane" id="pill_en" aria-labelledby="base-pill_en">
                                    <!-- Form En -->
                                    <div class="form-group">
                                        <label for="title_en">Название (en):</label>
                                        <input id="title_en" type="text" class="form-control text" name="title_en">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Контент (en):</label>
                                        <textarea name="editor_en" id="editor_en" class="editor"></textarea>
                                    </div>
                                </div>
                                <div class="tab-pane" id="pill_qr" aria-labelledby="base-pill_qr">
                                    <!-- Form Qr -->
                                    <div class="form-group">
                                        <label for="title_qr">Название (qr):</label>
                                        <input id="title_qr" type="text" class="form-control text" name="title_qr">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Контент (qr):</label>
                                        <textarea name="editor_qr" id="editor_qr" class="editor"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="is_active">Статус:</label>
                            <select name="is_active" class="form-control" id="is_active">
                                <option value="true" selected>Активный</option>
                                <option value="false">Неактивный</option>
                            </select>
                        </div>
                        <div class="btns-group">
                            <a href="#openMedia" class="openMediaBtn btn btn-info" data-effect="mfp-zoom-in">Медиа</a>
                            <a href="#openDocs" class="openDocsBtn btn btn-info" data-effect="mfp-zoom-in">Документы</a>
                        </div>
                        <hr>
                        <div class="btns-group">
                            <a href="javascript:void(0);" class="btn btn-secondary" onclick="history.back();">Отмена</a>
                            <button class="btn btn-primary">Сохранить</button>
                        </div>
                    </div>
                </form>
                <!-- Data list view end -->
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}
    <div id="openMedia" class="white-popup white-popup__media mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="openMediaForm">
                <div class="popup-title">
                    <h2>Медиа</h2>
                </div>
                <div class="popup-form media">
                    <div class="media-head">

                    </div>
                    <div class="media-images">
                        <div class="media-add media-item">
                            <label for="mediaUpload"><i class="feather icon-plus"></i></label>
                            <input type="file" id="mediaUpload" multiple>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="openDocs" class="white-popup white-popup__media mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="openDocsForm">
                <div class="popup-title">
                    <h2>Документы</h2>
                </div>

                <div class="popup-form">

                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'assets/ckeditor/ckeditor.js' %}"></script>
    <script>
        var post_id = null;
        $(document).ready(function () {
            let idData = new FormData();
            idData.append("menu", {{ menu.id }});
            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: "/api/v1/moderator/post/create/",
                processData: false,
                contentType: false,
                method: 'POST',
                data: idData,
                success: function (data) {
                    post_id = data.id;
                },
                error: function (data) {}
            });
        });
        /* Add */
        $('.openMediaBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });
        $('.openDocsBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        CKEDITOR.replace( 'editor_ru', {
            height: 480,
            filebrowserBrowseUrl: '/ckeditor/browse/?CKEditor=id_ck_content&CKEditorFuncNum=1&langCode=ru',
            filebrowserImageBrowseUrl: '/ckeditor/browse/?CKEditor=id_ck_content&CKEditorFuncNum=1&langCode=ru',
            filebrowserUploadUrl: '/ckeditor/upload/',
            filebrowserImageUploadUrl: '/ckeditor/upload/',
            toolbarGroups: [
                { name: 'clipboard', groups: [ 'undo', 'clipboard' ] },
                { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
                { name: 'forms', groups: [ 'forms' ] },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
                { name: 'links', groups: [ 'links' ] },
                { name: 'insert', groups: [ 'insert' ] },
                { name: 'styles', groups: [ 'styles' ] },
                { name: 'colors', groups: [ 'colors' ] },
                { name: 'tools', groups: [ 'tools' ] },
                { name: 'others', groups: [ 'others' ] },
                { name: 'about', groups: [ 'about' ] },
                { name: 'document', groups: [ 'mode', 'document', 'doctools' ] }
            ],
            removeButtons: 'Save,NewPage,ExportPdf,Preview,Print,Templates,Paste,PasteText,PasteFromWord,Find,Replace,SelectAll,Scayt,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,CopyFormatting,RemoveFormat,CreateDiv,BidiLtr,BidiRtl,Language,Unlink,Anchor,Flash,Iframe,PageBreakTextColor,BGColor,ShowBlocks,About',
        });
        CKEDITOR.replace( 'editor_uz', {
            height: 480,
            filebrowserBrowseUrl: '/ckeditor/browse/?CKEditor=id_ck_content&CKEditorFuncNum=1&langCode=ru',
            filebrowserImageBrowseUrl: '/ckeditor/browse/?CKEditor=id_ck_content&CKEditorFuncNum=1&langCode=ru',
            filebrowserUploadUrl: '/ckeditor/upload/',
            filebrowserImageUploadUrl: '/ckeditor/upload/',
            toolbarGroups: [
                { name: 'clipboard', groups: [ 'undo', 'clipboard' ] },
                { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
                { name: 'forms', groups: [ 'forms' ] },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
                { name: 'links', groups: [ 'links' ] },
                { name: 'insert', groups: [ 'insert' ] },
                { name: 'styles', groups: [ 'styles' ] },
                { name: 'colors', groups: [ 'colors' ] },
                { name: 'tools', groups: [ 'tools' ] },
                { name: 'others', groups: [ 'others' ] },
                { name: 'about', groups: [ 'about' ] },
                { name: 'document', groups: [ 'mode', 'document', 'doctools' ] }
            ],
            removeButtons: 'Save,NewPage,ExportPdf,Preview,Print,Templates,Paste,PasteText,PasteFromWord,Find,Replace,SelectAll,Scayt,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,CopyFormatting,RemoveFormat,CreateDiv,BidiLtr,BidiRtl,Language,Unlink,Anchor,Flash,Iframe,PageBreakTextColor,BGColor,ShowBlocks,About',
        });
        CKEDITOR.replace( 'editor_oz', {
            height: 480,
            filebrowserBrowseUrl: '/ckeditor/browse/?CKEditor=id_ck_content&CKEditorFuncNum=1&langCode=ru',
            filebrowserImageBrowseUrl: '/ckeditor/browse/?CKEditor=id_ck_content&CKEditorFuncNum=1&langCode=ru',
            filebrowserUploadUrl: '/ckeditor/upload/',
            filebrowserImageUploadUrl: '/ckeditor/upload/',
            toolbarGroups: [
                { name: 'clipboard', groups: [ 'undo', 'clipboard' ] },
                { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
                { name: 'forms', groups: [ 'forms' ] },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
                { name: 'links', groups: [ 'links' ] },
                { name: 'insert', groups: [ 'insert' ] },
                { name: 'styles', groups: [ 'styles' ] },
                { name: 'colors', groups: [ 'colors' ] },
                { name: 'tools', groups: [ 'tools' ] },
                { name: 'others', groups: [ 'others' ] },
                { name: 'about', groups: [ 'about' ] },
                { name: 'document', groups: [ 'mode', 'document', 'doctools' ] }
            ],
            removeButtons: 'Save,NewPage,ExportPdf,Preview,Print,Templates,Paste,PasteText,PasteFromWord,Find,Replace,SelectAll,Scayt,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,CopyFormatting,RemoveFormat,CreateDiv,BidiLtr,BidiRtl,Language,Unlink,Anchor,Flash,Iframe,PageBreakTextColor,BGColor,ShowBlocks,About',
        });
        CKEDITOR.replace( 'editor_en', {
            height: 480,
            filebrowserBrowseUrl: '/ckeditor/browse/?CKEditor=id_ck_content&CKEditorFuncNum=1&langCode=ru',
            filebrowserImageBrowseUrl: '/ckeditor/browse/?CKEditor=id_ck_content&CKEditorFuncNum=1&langCode=ru',
            filebrowserUploadUrl: '/ckeditor/upload/',
            filebrowserImageUploadUrl: '/ckeditor/upload/',
            toolbarGroups: [
                { name: 'clipboard', groups: [ 'undo', 'clipboard' ] },
                { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
                { name: 'forms', groups: [ 'forms' ] },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
                { name: 'links', groups: [ 'links' ] },
                { name: 'insert', groups: [ 'insert' ] },
                { name: 'styles', groups: [ 'styles' ] },
                { name: 'colors', groups: [ 'colors' ] },
                { name: 'tools', groups: [ 'tools' ] },
                { name: 'others', groups: [ 'others' ] },
                { name: 'about', groups: [ 'about' ] },
                { name: 'document', groups: [ 'mode', 'document', 'doctools' ] }
            ],
            removeButtons: 'Save,NewPage,ExportPdf,Preview,Print,Templates,Paste,PasteText,PasteFromWord,Find,Replace,SelectAll,Scayt,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,CopyFormatting,RemoveFormat,CreateDiv,BidiLtr,BidiRtl,Language,Unlink,Anchor,Flash,Iframe,PageBreakTextColor,BGColor,ShowBlocks,About',
        });
        CKEDITOR.replace( 'editor_qr', {
            height: 480,
            filebrowserBrowseUrl: '/ckeditor/browse/?CKEditor=id_ck_content&CKEditorFuncNum=1&langCode=ru',
            filebrowserImageBrowseUrl: '/ckeditor/browse/?CKEditor=id_ck_content&CKEditorFuncNum=1&langCode=ru',
            filebrowserUploadUrl: '/ckeditor/upload/',
            filebrowserImageUploadUrl: '/ckeditor/upload/',
            toolbarGroups: [
                { name: 'clipboard', groups: [ 'undo', 'clipboard' ] },
                { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
                { name: 'forms', groups: [ 'forms' ] },
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
                { name: 'links', groups: [ 'links' ] },
                { name: 'insert', groups: [ 'insert' ] },
                { name: 'styles', groups: [ 'styles' ] },
                { name: 'colors', groups: [ 'colors' ] },
                { name: 'tools', groups: [ 'tools' ] },
                { name: 'others', groups: [ 'others' ] },
                { name: 'about', groups: [ 'about' ] },
                { name: 'document', groups: [ 'mode', 'document', 'doctools' ] }
            ],
            removeButtons: 'Save,NewPage,ExportPdf,Preview,Print,Templates,Paste,PasteText,PasteFromWord,Find,Replace,SelectAll,Scayt,Form,Checkbox,Radio,TextField,Textarea,Select,Button,ImageButton,HiddenField,CopyFormatting,RemoveFormat,CreateDiv,BidiLtr,BidiRtl,Language,Unlink,Anchor,Flash,Iframe,PageBreakTextColor,BGColor,ShowBlocks,About',
        });

        $(document).ready(function () {
            /* Add */
            $("#addForm").submit(function (e) {
                e.preventDefault();

                let formData = new FormData();
                let content = {
                        ru: `${CKEDITOR.instances.editor_ru.getData().trim()}`,
                        uz: `${CKEDITOR.instances.editor_uz.getData().trim()}`,
                        oz: `${CKEDITOR.instances.editor_oz.getData().trim()}`,
                        en: `${CKEDITOR.instances.editor_en.getData().trim()}`,
                        qr: `${CKEDITOR.instances.editor_qr.getData().trim()}`
                      };
                formData.append("title", `{
                                            "ru": "${$("#title_ru").val()}",
                                            "uz": "${$("#title_uz").val()}",
                                            "oz": "${$("#title_oz").val()}",
                                            "en": "${$("#title_en").val()}",
                                            "qr": "${$("#title_qr").val()}"
                                          }`);
                formData.append("content", JSON.stringify(content));

                formData.append("menu", {{ menu.id }});
                formData.append("is_active", $("#is_active").val());

                let url = `/api/v1/moderator/post/${post_id}/`;

                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'PATCH',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        window.location.href = "{% url 'user:post_list' group=menu.group id=menu.id %}"
                    },
                    error: function (data) {
                        alert('Ошибка');
                    }
                });
            });

            $("#mediaUpload").change(function () {
                for (let i = 0; i < $(this)[0].files.length; i++) {
                    let formData = new FormData();

                    formData.append('post', post_id);
                    formData.append('file', $(this)[0].files[i]);

                    let url = `/api/v1/moderator/post/upload/image/`;
                    $.ajax({
                        headers: {"X-CSRFToken": "{{csrf_token}}"},
                        url: url,
                        processData: false,
                        contentType: false,
                        method: 'POST',
                        data: formData,
                        success: function (data) {
                            let item = `<div class="media-item">
                                            <a href="${data.file}" class="media-item__image" data-fancybox="gallery">
                                                <img src="${data.file}" alt="">
                                            </a>
                                            <div class="media-item__settings">
                                                <div class="activeMedia">
                                                    <input
                                                            type="radio"
                                                            class="isStatus"
                                                            data-url="/api/v1/moderator/post/image/${data.id}/"
                                                            data-id="${data.id}"
                                                            name="active"
                                                            id="active${data.id}"
                                                            value="${data.id}"
                                                    >
                                                    <label for="active${data.id}"><i class="feather icon-arrow-up"></i></label>
                                                </div>
                                                <a href="#"
                                                   class="delete"
                                                   data-url="/api/v1/moderator/post/image/${data.id}/"
                                                   data-id="${data.id}"
                                                ><i class="feather icon-trash-2"></i></a>
                                            </div>
                                        </div>`;

                            $(`.media-images`).append(item);
                            //alert("success");
                        },
                        error: function (data) {
                            alert("error");
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
