{% if is_paginated %}
    {% load may_tags %}
    {% with request.get_full_path as querystring %}
        <nav aria-label="Пагинация" class="pagination-main">
            <ul class="pagination justify-content-center mt-2">
                {% if page_obj.has_previous %}
                    {% if 'region' in querystring %}
                        {% if 'page' in querystring %}
                            <li class="page-item prev-item"><a class="page-link"
                                                               href="{{ querystring|split:'&'|first }}&page={{ page_obj.previous_page_number }}"
                                                               aria-label="Пред."></a></li>
                        {% else %}
                            <li class="page-item prev-item"><a class="page-link"
                                                               href="{{ querystring }}&page={{ page_obj.previous_page_number }}"
                                                               aria-label="Пред."></a></li>
                        {% endif %}
                    {% else %}
                        <li class="page-item prev-item"><a class="page-link"
                                                           href="?page={{ page_obj.previous_page_number }}"
                                                           aria-label="Пред."></a></li>
                    {% endif %}
                {% endif %}
                {% for page in page_numbers %}
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                        {% else %}
                            {% if 'region' in querystring %}
                                {% if 'page' in querystring %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{{ querystring|split:'&'|first }}&page={{ page }}">{{ page }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{{ querystring }}&page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endifequal %}
                    {% else %}
                        <li class="page-item"><span class="page-link">...</span></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    {% if 'region' in querystring %}
                        {% if 'page' in querystring %}
                            <li class="page-item next-item"><a class="page-link"
                                                               href="{{ querystring|split:'&'|first }}&page={{ page_obj.next_page_number }}"
                                                               aria-label="След."></a></li>
                        {% else %}
                            <li class="page-item next-item"><a class="page-link"
                                                               href="{{ querystring }}&page={{ page_obj.next_page_number }}"
                                                               aria-label="След."></a></li>
                        {% endif %}
                    {% else %}
                        <li class="page-item next-item"><a class="page-link"
                                                           href="?page={{ page_obj.next_page_number }}"
                                                           aria-label="След."></a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    {% endwith %}
{% endif %}