{% extends 'base_leader.html' %}
{% load static %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Leader</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Data list view starts -->

                <!-- Data list view end -->
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}

{% endblock %}


{% block script %}

{% endblock %}
