{% extends 'base_commission.html' %}
{% load static %}
{% load l10n %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/fancybox/jquery.fancybox.css' %}">
    <style>
        #map{
            width: 100%;
            height: 240px;
        }
        .card-header img{
            height: 35px;
            margin-top: -10px;
        }
        .voting-item{
            display: flex;
            align-items: flex-end;
            padding-bottom: 25px;
        }
        .voting-item strong{
            font-size: 64px;
            line-height: 50px;
            margin-right: 15px;
        }
        .voting-item span{
            font-size: 17px;
            color: #626262;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Инициативы</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user:index_commission' %}">Главная</a>
                                    </li>
                                    <li class="breadcrumb-item active"><a href="{% url 'application:application_filter_list' board_id %}">Инициативы</a>
                                    </li>
                                    <li class="breadcrumb-item active">{{ application.title }}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">

                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">{{ application.title }}</h2>
                                <p class="card-subtitle text-muted"><i class="feather icon-calendar"></i> {{ application.created_at | date:"d.m.Y" }}</p>
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <p>{{ application.text }}</p>
                                </div>
                                <div class="card-images">
                                    <h5>Фото ({{ application.applicationattachment_set.count }})</h5>
                                    <div class="row">
                                        {% for image in application.applicationattachment_set.all %}
                                            <div class="col-lg-4 col-6">
                                            <a href="{{ image.file.url }}" data-fancybox="gallery" class="card-image__item">
                                                <img src="{{ image.file.url }}" alt="">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if application.latitude and application.longitude %}
                                    <div class="card-maps">
                                        <div id="map"></div>
                                        <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                                        <script>
                                            //Map
                                            ymaps.ready(init);
                                            function init () {
                                                var myMap = new ymaps.Map("map", {
                                                    center: [{{ application.latitude }}, {{ application.longitude }}],
                                                    zoom: 16,
                                                    controls: ['zoomControl', 'typeSelector']
                                                }),
                                                myPlacemark = new ymaps.Placemark([{{ application.latitude }}, {{ application.longitude }}]);
                                                myMap.geoObjects.add(myPlacemark);
                                            }
                                        </script>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#" class="card">
                                    <div class="card-header">
                                        <h2 class="card-title">Онлайн</h2>
                                        <img src="{% static 'assets/images/voting.svg' %}" alt="">
                                    </div>
                                    <div class="card-body voting-item">
                                        <strong>{{ application.applicationreview.applicationvote.votes }}</strong>
                                        <span>Голосов</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="card">
                                    <div class="card-header">
                                        <h2 class="card-title">Офлайн</h2>
                                        <img src="{% static 'assets/images/voting_off.svg' %}" alt="">
                                    </div>
                                    <div class="card-body voting-item">
                                        <strong>{{ application.applicationreview.applicationvote.offline_votes }}</strong>
                                        <span>Голосов</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <span class="card-status">Идея <br>
                                    {% if application.applicationreview %}
                                        {% if application.applicationreview.is_passed %}
                                            Принята
                                        {% else %}
                                            Отказана
                                        {% endif %}
                                    {% else %}
                                        Зарегистрирована
                                    {% endif %}
                                </span>
                                <h2 class="card-title">ID: {{ application.public_id }}</h2>

                                <div class="card-user">
                                    <span class="card-user__name"><i class="feather icon-user"></i>
                                    {{ application.user.full_name }}</span>
                                    <br>
                                    <span class="card-user__phone">Телефон: <a href="tel:{{ application.user.phone }}">{{ application.user.phone }}</a></span>
                                </div>

                                <div class="card-currency">
                                    <h3>Предложенная сумма</h3>
                                    <span class="numberCommas" data-number="{{ application.budget|unlocalize }}">{{ application.budget|unlocalize }} сўм</span>
                                </div>

                                {% if application.applicationreview.review_budget %}
                                    <div class="card-currency">
                                        <h3>Согласованная сумма</h3>
                                        <span class="numberCommas" data-number="{{ application.applicationreview.review_budget|unlocalize }}">{{ application.applicationreview.review_budget|unlocalize }} сўм</span>
                                    </div>
                                {% endif %}


                                {% if application.applicationreview.classification %}
                                    <div class="card-currency">
                                        <h3>Классификация</h3>
                                        <p>{{ application.applicationreview.classification.title.uz_cyr }}</p>
                                    </div>
                                {% endif %}

                                {% if application.applicationreview.refusal_reason %}
                                    <div class="card-currency">
                                        <h3>Комментарии</h3>
                                        <p>{{ application.applicationreview.refusal_reason }}</p>
                                    </div>
                                {% endif %}

                                {% if not application.applicationreview %}
                                <div class="card-statcheck">
                                    <ul class="nav nav-pills nav-active-bordered-pill">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="base-pill1" data-toggle="pill" href="#pill1" aria-expanded="true">Принять</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="base-pill2" data-toggle="pill" href="#pill2" aria-expanded="false">Отказать</a>
                                        </li>
                                    </ul>
                                    <div class="form-group">
                                        <label for="">Классификация</label>
                                        <select id="classification" class="form-control" required>
                                            <option value="">Выберите</option>
                                            {% for class in classification %}
                                                <option value="{{ class.id }}">{{ class.title.uz_cyr }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="pill1" aria-expanded="true" aria-labelledby="base-pill1">
                                            <form id="applicationAccept">
                                                <div class="form-group">
                                                    <label for="reviewBudget">Стоимость реализации:</label>
                                                    <input id="reviewBudget" type="number" class="form-control" value="{{ application.budget|unlocalize }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="acceptDescription">Описание:</label>
                                                    <textarea id="acceptDescription" class="form-control" rows="2"></textarea>
                                                </div>
                                                <div class="btn-group">
                                                    <button class="btn btn-primary">Принять</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane" id="pill2" aria-labelledby="base-pill2">
                                            <form id="applicationReject">
                                                <div class="form-group">
                                                    <label for="rejectDescription">Описание:</label>
                                                    <textarea id="rejectDescription" class="form-control" rows="3" required></textarea>
                                                </div>
                                                <div class="btn-group">
                                                    <button class="btn btn-danger">Отказать</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}

{% endblock %}


{% block script %}
    <script src="{% static 'assets/fancybox/jquery.fancybox.js' %}"></script>
    <script>
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }
        $( document ).ready(function() {
            $.each($(".numberCommas"), function () {
                $(this).text(numberWithCommas($(this).data('number')));
            });
        });
    </script>
    <script>

        $(document).ready(function () {

            $("#applicationAccept").submit(function (e) {
                e.preventDefault();

                let formData = new FormData();

                formData.append("application", {{ application.id }});
                formData.append("is_passed", true);
                formData.append("review_budget", $("#reviewBudget").val());
                formData.append("refusal_reason", $("#acceptDescription").val());
                formData.append("classification", $("#classification").val());

                let url = "/api/v1/commission/application_review/create/";

                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        location.reload();
                    },
                    error: function (data) {
                        alert('Ошибка');
                    }
                });
            });

            $("#applicationReject").submit(function (e) {
                e.preventDefault();

                let formData = new FormData();

                formData.append("application", {{ application.id }});
                formData.append("is_passed", false);
                formData.append("refusal_reason", $("#rejectDescription").val());
                formData.append("classification", $("#classification").val());

                let url = "/api/v1/commission/application_review/create/";

                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        location.reload();
                    },
                    error: function (data) {
                        alert('Ошибка');
                    }
                });
            });

        });
    </script>
{% endblock %}
