{% extends 'base_commission.html' %}
{% load static %}

{% block styles %}

{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Оффлайн голосование</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'user:index_commission' %}">Главная</a>
                                    </li>
                                    <li class="breadcrumb-item active">Оффлайн голосование
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="breadcrum-right">
                        <a href="#add" data-effect="mfp-zoom-in" class="addBtn btn btn-primary">Добавить</a>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Data list view starts -->
                <section id="data-thumb-view" class="data-thumb-view-header">
                    <!-- dataTable starts -->
                    {% if object_list %}
                        <div class="table-responsive">
                            <table class="table data-thumb-view">
                                <thead>
                                    <tr>
                                        <th width="1%">№</th>
                                        <th width="200px">Ф.И.О.</th>
                                        <th width="1%">Телефон</th>
                                        <th width="50px">ID</th>
                                        <th width="50px">Файл</th>
                                        <th width="50px">Дата</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for vote in offlinevote_list %}
                                    <tr>
                                        <td>{{ vote.id }}</td>
                                        <td class="td-name">{{ vote.voter_fullname }}</td>
                                        <td class="td-category">{{ vote.voter_phone }}</td>
                                        <td class="td-category"><strong>CI: </strong>{{ vote.application_review.application.public_id }}</td>
                                        <td class="td-category">{{ vote.offline_votes_attachment.filename }}</td>
                                        <td class="td-category">{{ vote.offline_votes_attachment.created_at }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
{##}
{#                            {% load paginator %}#}
{#                            {% get_pagination %}#}

                        </div>
                    {% else %}
                        <p>Empty list</p>
                    {% endif %}
                    <!-- dataTable ends -->
                </section>
                <!-- Data list view end -->
            </div>
        </div>
    </div>
{% endblock %}


{% block modals %}
    <div id="add" class="white-popup white-popup__small mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="loader">
                <div class="loader-image">
                    <img src="{% static 'images/loader.gif' %}" alt="">
                </div>
            </div>
            <form id="addForm">
                <div class="popup-title">
                    <h2>Добавить</h2>
                </div>
                <div class="popup-form">
                    <div class="form-group">
                        <label class="input-file">
                            <b class="btn btn-primary">
                                <i class="feather icon-download"></i> Выберите файл</b>
                            <input id="fileInput" type="file" name="fileinput" class="fileInput">
                        </label>
                    </div>
                </div>

                <div class="popup-footer">
                    <a href="#" class="btn btn-secondary btn-close">Отменить</a>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        $('.fileInput').change(function() {
            var numfiles = $(this)[0].files.length;
            var parent = $(this).closest('.input-file');
            parent.find('ins').remove();
            for (i = 0; i < numfiles; i++) {
                parent.append('<ins>' + $(this)[0].files[i].name + '</ins>')
            }
        });

        /* Add */
        $('.addBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });
        $(document).ready(function () {
            /* Add */
            $("#addForm").submit(function (e) {
                e.preventDefault();
                $('#add .loader').addClass('active');

                let formData = new FormData();

                for (let i = 0; i < $("#fileInput")[0].files.length; i++) {
                    formData.append('file', $("#fileInput")[0].files[i]);
                }

                let url = "/api/v1/application/votes/upload/";

                $.ajax({
                    headers: {"X-CSRFToken": "{{csrf_token}}"},
                    url: url,
                    processData: false,
                    contentType: false,
                    method: 'POST',
                    data: formData,
                    success: function (data) {
                        //alert('успех!');
                        setTimeout(function () {
                            $('#add .loader').removeClass('active');
                        }, 500);
                        location.reload();
                    },
                    error: function (data) {
                        setTimeout(function () {
                            $('#add .loader').removeClass('active');
                        }, 500);
                        alert('Ошибка');
                    }
                });

            });
        });
    </script>
{% endblock %}
